<% include partials/header %>

<div class="container">
  <h1>My Favorite Resources</h1>

  <% if (favorites.length > 0) { %>
    <table>
        <thead>
            <tr>
                <th>User ID</th>
                <th>Topic ID</th>
                <th>Image</th>
                <th>URL</th>
                <th>Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <% resources.forEach(resource => { %>
                <tr>
                    <td><%= resource.user_id %></td>
                    <td><%= resource.topic_id %></td>
                    <td><img src="<%= resource.img_url %>" alt="Resource Image" width="100"></td>
                    <td><a href="<%= resource.url %>">Link</a></td>
                    <td><%= resource.title %></td>
                    <td><%= resource.description %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
  <% } else { %>
    <p>You have not favorited any resources yet.</p>
  <% } %>
</div>
